/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

/* ================= SIDEBAR ================= */

.sidebar {
  width: 260px;
  height: 100vh;
  background: #ffffff;
  padding: 40px 30px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 999;
}

/* Logo */
.logo h1 {
  font-size: 28px;
  font-weight: 500;
}

.logo span {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(45, 45, 45);
}

/* Menu */
.menu {
  list-style: none;
  margin-top: 40px;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: #646464;
  font-size: 1.2rem;
  transition: 0.3s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu a:hover {
  color: white;
  padding-left: 10px;
}

/* Estado aberto (vira X) */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ================= BOTÃO ================= */

.menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 90vw;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  color: white;
}

/* ================= LAYOUT ================= */

.carousel-area {
  margin-left: 260px;
  width: calc(100% - 260px);
}

/* ================= CARROSSEL ================= */

/* CONTAINER */
.swiper {
  width: 100%;
  height: 100vh;
}

/* SLIDE */
.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* IMAGEM */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* OVERLAY ESCURO (melhora leitura do texto) */
.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* TEXTO (caso use dentro do slide) */
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 0 20px;
}

.slide-text span {
  font-size: 1rem;
  letter-spacing: 2px;
  opacity: 0.9;
  font-family:Arial, Helvetica, sans-serif;
}

.slide-text h2 {
font-size: 1.3rem;
font-family:Arial, Helvetica, sans-serif;
font-weight: 300;
}

/* PAGINAÇÃO (bolinhas) */
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* SETAS */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .slide-text h2 {
    font-size: 24px;
  }

  .slide-text span {
    font-size: 12px;
  }

  .slide-text span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: 0.9;
  font-family:Arial, Helvetica, sans-serif;
}

.slide-text h2 {
font-size: 1rem;
font-family:Arial, Helvetica, sans-serif;
font-weight: 300;
}
}

/* ================= GRID ================= */

.recent-works {
  padding: 60px 20px;
  background: #f5f5f5;
}

.recent-works h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}

.grid-gallery img:hover {
  transform: scale(1.05);
}

/* ================= FOOTER ================= */
.footer {
  background: #111111;
  color: #3e3e3e;
  font-family: 'Poppins', sans-serif;
}

/* LINHA SUPERIOR */
.footer-line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #ffffff, transparent);
  opacity: 0.2;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

/* BRAND */
.footer-brand h3 {
  font-size: 28px;
  font-weight: 600;
}

.footer-brand span {
  font-size: 14px;
  opacity: 0.6;
  letter-spacing: 2px;
}

/* LINKS */
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
  transform: translateX(5px);
}

/* SOCIAL */
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-social a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #fff;
  transform: translateX(5px);
}

/* ICONES */
.footer-social i {
  font-size: 16px;
}

/* RODAPÉ FINAL */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #c4c4c4;
  padding-left: 20vw;

}

/* ========================= */
/* RESPONSIVIDADE */
/* ========================= */

/* TABLET */
@media (max-width: 900px) {
  .footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #c4c4c4;
  padding-left: 35vw;

}
slide-text span {
  font-size: 0.1rem;
  letter-spacing: 2px;
  opacity: 0.6;
  font-family:Arial, Helvetica, sans-serif;
}

.slide-text h2 {
font-size: 1.1rem;
font-family:Arial, Helvetica, sans-serif;
font-weight: 300;
}
}

/* MOBILE */
@media (max-width: 600px) {
  .footer-container {
    align-items: center;
    text-align: center;
  }

  .footer-links,
  .footer-social {
    align-items: center;
  }

  .footer-links a:hover,
  .footer-social a:hover {
    transform: none;
  }

  .footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #c4c4c4;

}
}
/* ================= MOBILE ================= */

@media (max-width: 768px) {

  /* ESCONDE SIDEBAR */
  .sidebar {
    transform: translateX(-100%);
  }

  /* MOSTRA QUANDO ATIVO */
  .sidebar.active {
    transform: translateX(0);
  }

  /* MOSTRA BOTÃO */
  .menu-toggle {
    display: block;
  }

  /* ajusta a imagem */
  .swiper {
  width: 100%;
  height: 80vh;
  padding-top: 10vh;
}

/* chama a logo */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  /* REMOVE ESPAÇO LATERAL */
  .carousel-area {
    margin-left: 0;
    width: 100%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



}